/* ----- 1. 글로벌 & 기본 설정 ----- */
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
  /* layout.js에서 폰트는 이미 적용됨 */
  background-color:#FFF; /*#F8F9FA;*/ 
  color: #000;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}